<div class="heading" id="common">
  <h2>通用规范</h2>
</div>

<div class="section" id="project-naming">
    <div class="col">
        <h3>项目命名</h3>
        <p>全部采用小写方式， 以连字符分隔。</p>
        <p>例：my-project-name</p>
    </div>
</div>

<div class="section" id="folder-naming">
    <div class="col">
        <h3>目录命名</h3>
        <p>参照项目命名规则；</p>
        <p>有复数结构时，要采用复数命名法。</p>
        <p>例：scripts, styles, images, data-models</p>
    </div>
</div>

<div class="section" id="js-naming">
    <div class="col">
        <h3>JS 文件命名</h3>
        <p>参照项目命名规则。</p>
        <p>例：account-model.js</p>
    </div>
</div>

<div class="section" id="css-naming">
    <div class="col">
        <h3>CSS, SCSS 文件命名</h3>
        <p>参照项目命名规则。</p>
        <p>例：retina-sprites.scss</p>
    </div>
</div>

<div class="section" id="html-naming">
    <div class="col">
        <h3>HTML 文件命名</h3>
        <p>参照项目命名规则。</p>
        <p>例：error-report.html</p>
    </div>
</div>

<div class="section" id="common-protocol">
    <div class="col">
        <h3>协议</h3>
        <p>省略图片、样式、脚本以及其他媒体文件 URL 的协议部分（http:, https:），除非文件在两种协议下都不可用。这种方案称为 protocol-relative URL，好处是无论你是使用 HTTPS 还是 HTTP 访问页面，浏览器都会以相同的协议请求页面中的资源，同时可以节省一部分字节。</p>
    </div>
    <div class="col">
        {% highlight html %}{% include common/protocol.html %}{% endhighlight %}
        {% highlight css %}{% include common/protocol.css %}{% endhighlight %}
    </div>
</div>

<div class="section" id="common-space">
    <div class="col">
        <h3>结尾空格</h3>
        <p>结尾空格不仅多余，而且在比较代码时会更麻烦。</p>
    </div>
    <div class="col">
        {% highlight html %}{% include common/space.html %}{% endhighlight %}
    </div>
</div>
